.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
 
}

.tittle-card{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(66, 140, 66);
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

