.card2 {
    background-color: white;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo2 {
    color: green;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
 
}

.tittle-card2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(66, 140, 66);
}

.paragraph-card2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.price {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-add{
background-color: rgb(8, 191, 8);
border: none;
color: white;
width: 80px;
height: 30px;
border-radius: 10px;
margin-top: 20px;
cursor: pointer;
}