.section-main{
    background-color: white;
    
}

.tittle-screen{    
    color: rgb(51, 117, 10);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #28a745; 
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 40px;
   
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
