.header-main {
    background-color: green;
    width: 100%;
}

.navbar-main{
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: #fff;
  font-size: 25px;
  margin-bottom: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.list-style{
    cursor: pointer;
    display: flex;
    list-style: none;
    gap: 40px;
}