.main-loc{
    background-color: rgb(203, 237, 203);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.tittle-loc{
    color: rgb(18, 95, 37);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.p-loc{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.h3-loc{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 78, 1);
}