.main-screen{
    background-color: rgb(221, 246, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}

#tittle{
    color: rgb(31, 53, 26);
    font-family: Arial, Helvetica, sans-serif;
}

#paragraph{
    color: rgb(35, 144, 11);
    font-family: Arial, Helvetica, sans-serif;
}

.button-plans{
    background-color: rgb(20, 161, 20);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}