.aboutus{
    width: 100%;
    height: 300px;
}

.tittle-about{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 3px solid #28a745; 
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.paragrafo-about1{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.paragrafo-about2{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}